

.ganttChartOuterContainer {
  display: flex;
  flex-direction: column;
}


.ganttChartOuterContainerSmall {
  width: 50%;
  height: 50%;
}
.ganttChartOuterContainerMedium {
  width: 75%;
  height: 75%;
}
.ganttChartOuterContainerLarge {
  width: 100%;
  height: 100%;
}


.ganttChartRowContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* does the rihgt side line stick out by 1px? */
  border: 1px black solid;
  box-sizing: border-box;
}

.ganttChartLeftContainer {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  overflow-x: auto;
  overflow-y: hidden;
}

.ganttChartLeftContainerItems {
  display: flex;
  flex-direction: row;
  
  width: max-content;
  /* row content does not wrap onto new line... stays "hidden" requiring you to scroll */
  white-space: nowrap;
}

.ganttChartDividerContainer {
  /* user flex or padding? or margin? */
  flex: 0 0 4px;
  /* padding: 2px; */
  cursor: w-resize;
  background: rgb(30, 98, 21);
}

.ganttChartDividerContainer:hover {
  background-color: rgb(216, 178, 114);
}

.ganttChartRightContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: auto;
  overflow-y: auto;
}

.ganttChartHeader {
  display: flex;
  flex-direction: row;
  padding: 8px 12px;
}

.ganttChartRow {
  display: flex;
  flex-direction: row;
  padding: 8px 12px;
  width: max-content;
  /* row content does not wrap onto new line... stays "hidden" requiring you to scroll */
  white-space: nowrap;
}

.ganttChartRowItemSpacing {
  gap: 10px;
}


.ganttChartTable {
  border-collapse: collapse;
  width: max-content;
  min-width: 100%;
  white-space: nowrap;
}

.ganttChartTable th{
  padding: 8px 12px;
  text-align: left;
}

.ganttChartTable td {
  padding: 8px 12px;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ganttChartTable th {
  font-weight: 600;
}

.ganttChartTable tbody tr {
  cursor: pointer;
}

.ganttChartTable tbody tr:hover {
  /* temp dependent on theme */
  background: #eadbc1;
}